body {
    font-family: 'Lato', sans-serif;
    line-height: 28px;
}

a {
    color: #FF706C;
}

a:hover{
    color: #FF706C;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right:0;
    margin-left:0;
 }

 .code {
     background-color: rgb(246, 248, 250);
 }

#page-content-wrapper {
    font-size: 16px;
    padding-top: 80px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 80px;
}

#page-content-wrapper p {
    text-align: justify;
}

#page-content-wrapper img {
    width: 300px;
    margin: 3px;
}

#sidebar-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 16px;
    background-color: #4a586d;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#avatar-wrapper {
    width: 65%;
    min-width: 160px;
    padding-bottom: 70px;
    float:right;
    text-align: center;
}

#avatar-wrapper img {
    width: 65%;
    min-width: 120px;
}

#nav-wrapper {
    width: 65%;
    padding: 30px 20px 30px 0px;
    min-width: 160px;
    text-align: left;
    float: right;
    background-color: #1d232b;
}

#nav-wrapper ul {
    list-style: none;
}

#nav-wrapper a {
    color: white;
}

#nav-wrapper a:hover{
    color: #FF706C;
    text-decoration: none;
}

#social-wrapper {
    width: 65%;
    min-width: 160px;
    padding-top: 70px;
    padding-right: 20px;
    text-align: right;
    float: right;
    font-size: 14px;
}

#social-wrapper a {
    text-decoration: none;
}

#social-wrapper img {
    /* margin: 10px; */
    width: 54px;
    margin-top: 2px;
    background-color: #1d232b;
    border-top: 10px solid #1d232b;
    border-bottom: 10px solid #1d232b;
    border-left: 20px solid #1d232b;
    border-right: 20px solid #1d232b;
    /* border-radius: 4px; */
}

#social-wrapper img:hover {
    width: 54px;
    margin-top: 2px;
    background-color: #FF706C;
    border-top: 10px solid #FF706C;
    border-bottom: 10px solid #FF706C;
    border-left: 20px solid #FF706C;
    border-right: 20px solid #FF706C;
}

/* Desktop */
@media(max-width: 576px) {
    #page-content-wrapper {
        font-size: 16px;
        padding: 40px 10px 20px 10px !important;
    }

    #sidebar-wrapper {
        font-size: 16px;
        background-color: #353E49;
        padding: 40px 0px 20px 0px !important;
    }

    #avatar-wrapper {
        width: 100%;
        text-align: center;
        padding: 0px 0px 20px 0px !important;
        float: center;
    }

    #avatar-wrapper img {
        width: 180px;
    }

    #nav-wrapper {
        width: 100%;
        text-align: center;
        padding: 20px 20px 10px 20px !important;
        display: inline;
        float: center;
    }

    #nav-wrapper ul {
        padding: 0px !important;
    }

    #nav-wrapper li {
        display: inline;
        margin: 10px !important;
    }

    #social-wrapper {
        width: 100%;
        text-align: center;
        font-size: 14px;
        float: center;
        padding: 20px 0px 20px 0px !important;
    }
}
